# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.ko

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib
*.lo

# Executables
*.exe
*.out
*.app

.DS_Store

FILE_SYSTEM
temp*
